@import "../../../styles/modules/variables";

body {
  display: grid;
  height: 100vh;
  grid-template-rows: auto 1fr;
}

main {
  display: flex;
  align-items: center;
}

.login-card {
  min-width: 560px;
  min-height: 494px;
  padding: 2rem;
}

.login-logo {
  width: 346px;
  height: 212px;
}
p {
    font-size: 12px;
    width: 264px;
}